In [1]:
import pandas as pd
import numpy as np

In [43]:
df=pd.read_csv("4_gs.csv")
df=df[['Run','DRB1']]
df

           Run           DRB1
0   SRR5252835  *1501 / *1104
1   SRR5252837  *1301 / *0101
2   SRR5252839  *0301 / *1201
3   SRR5252843  *0101 / *0301
4   SRR5252844  *0301 / *0801
5   SRR5252845  *1301 / *1501
6   SRR5252846  *0101 / *1401
7   SRR5252851  *1501 / *1104
8   SRR5252853  *1301 / *0101
9   SRR5252855  *0301 / *1201
10  SRR5252859  *0101 / *0301
11  SRR5252860  *0301 / *0801
12  SRR5252861  *1301 / *1501
13  SRR5252862  *0101 / *1401

In [44]:
df[['DRB1.1','DRB1.2']]=df.DRB1.str.split('/',expand=True)
df=df.drop(['DRB1'], axis=1)
df=df.rename(columns={"DRB1.1": "DRB1", "DRB1.2": "DRB1.1"})
df

           Run    DRB1  DRB1.1
0   SRR5252835  *1501    *1104
1   SRR5252837  *1301    *0101
2   SRR5252839  *0301    *1201
3   SRR5252843  *0101    *0301
4   SRR5252844  *0301    *0801
5   SRR5252845  *1301    *1501
6   SRR5252846  *0101    *1401
7   SRR5252851  *1501    *1104
8   SRR5252853  *1301    *0101
9   SRR5252855  *0301    *1201
10  SRR5252859  *0101    *0301
11  SRR5252860  *0301    *0801
12  SRR5252861  *1301    *1501
13  SRR5252862  *0101    *1401

In [45]:
for col in df.columns[df.columns!='Run']:
    if '.' in col:
        allele = col.split('.')[0]
        for i in range(len(df[col])):
            df[col][i]=df[col][i][:4] + ':' + df[col][i][4:]
            df[col][i]=allele+ df[col][i]
            df[col][i]=df[col][i].replace(" ", "")
    else: 
        for i in range(len(df[col])):
            df[col][i]=df[col][i][:3] + ':' + df[col][i][3:]
            df[col][i]=col+ df[col][i] 
            df[col][i]=df[col][i].replace(" ", "")

In [47]:
df.to_csv("4_gs_corrected.csv")