In [1]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv("3_gs.csv")
df=df[['Run','DRB1']]
df

            Run           DRB1
0   SRR13280660  *04:01/*07:01
1   SRR13280707  *03:01/*15:01
2   SRR13280655  *03:01/*04:01
3   SRR13280656  *03:01/*04:01
4   SRR13280657  *03:01/*15:01
..          ...            ...
81  SRR13280738  *03:01/*15:01
82  SRR13280677  *03:01/*04:01
83  SRR13280737  *03:01/*13:01
84  SRR13280667  *03:01/*04:01
85  SRR13280709  *01:01/*04:01

[86 rows x 2 columns]

In [7]:
df[['DRB1.1','DRB1.2']]=df.DRB1.str.split('/',expand=True)
df=df.drop(['DRB1'], axis=1)
df=df.rename(columns={"DRB1.1": "DRB1", "DRB1.2": "DRB1.1"})
df

            Run    DRB1  DRB1.1
0   SRR13280660  *04:01  *07:01
1   SRR13280707  *03:01  *15:01
2   SRR13280655  *03:01  *04:01
3   SRR13280656  *03:01  *04:01
4   SRR13280657  *03:01  *15:01
..          ...     ...     ...
81  SRR13280738  *03:01  *15:01
82  SRR13280677  *03:01  *04:01
83  SRR13280737  *03:01  *13:01
84  SRR13280667  *03:01  *04:01
85  SRR13280709  *01:01  *04:01

[86 rows x 3 columns]

In [8]:
for col in df.columns[df.columns!='Run']:
    if '.' in col:
        allele = col.split('.')[0]
        for i in range(len(df[col])):
            df[col][i]=allele+ df[col][i]
            df[col][i]=df[col][i].replace(" ", "")
    else: 
        for i in range(len(df[col])):
            df[col][i]=col+ df[col][i] 
            df[col][i]=df[col][i].replace(" ", "")

In [9]:
df

            Run        DRB1      DRB1.1
0   SRR13280660  DRB1*04:01  DRB1*07:01
1   SRR13280707  DRB1*03:01  DRB1*15:01
2   SRR13280655  DRB1*03:01  DRB1*04:01
3   SRR13280656  DRB1*03:01  DRB1*04:01
4   SRR13280657  DRB1*03:01  DRB1*15:01
..          ...         ...         ...
81  SRR13280738  DRB1*03:01  DRB1*15:01
82  SRR13280677  DRB1*03:01  DRB1*04:01
83  SRR13280737  DRB1*03:01  DRB1*13:01
84  SRR13280667  DRB1*03:01  DRB1*04:01
85  SRR13280709  DRB1*01:01  DRB1*04:01

[86 rows x 3 columns]

In [47]:
df.to_csv("3_gs_corrected.csv")